@using Microsoft.AspNet.Identity
<link href="~/Content/styles.css" rel="stylesheet" />
@if (Request.IsAuthenticated)

{<!--if you're logged in:-->
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        
<ul class="nav navbar-nav navbar-right navbar-color">
    <li>
        @Html.ActionLink("Hello, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @style="color:black;" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()" style="color:black;">Log off</a></li>
    <li>@Html.ActionLink("Search Ingredients", "Welcome", "Home", new { area = "" }, new { @style = "color:black;" })</li>
    <li>@Html.ActionLink("Remove Ingredients", "EditIngred", "Home", new { UserID = User.Identity.GetUserId() }, new { @style = "color:black" })</li>
</ul>
    }
}
else
{
    <!--links at top right of nav bar when you're not logged in-->
    <ul class="nav navbar-nav navbar-right navbar-color">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color:black" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "color:black" })</li>
    </ul>
}
