@using PantryParty.Models;
@{
    ViewBag.Title = "NearbyUsers";
}
@foreach (Ingredient item in ViewBag.MissingIngredients)
{
    <p>@item.Name</p><br />
}
<h3>Here's a list of nearby users with your missing ingredients</h3>
<table class="table">
    <tr>
        <th>User's Name</th>
        <th>User's City</th>
        <th>Email</th>
        <th>Phone Number</th>
    </tr>
    @foreach (AspNetUser user in ViewBag.NearbyUsers)
    {
        <tr>
            <td>@user.FirstName @user.LastName</td>
            <td>@user.City</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
        </tr>
    }
</table>


