@using PantryParty.Models;
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "NearbyUsers";
    pantrypartyEntities ORM = new pantrypartyEntities();
}

<h3>Here's a list of nearby users with your missing ingredients</h3>
<table class="table">
    <tr>
        <th>User's Name</th>
        <th>User's Ingredients</th>
        <th>User's City</th>
        <th>Email</th>
        <th>Phone Number</th>
    </tr>
    @foreach (AspNetUser user in ViewBag.NearbyUsers)
    {
        if (user.ID != User.Identity.GetUserId())
        {
            <tr>
                <td>@user.FirstName @user.LastName</td>
                <td>
                    This user has: @foreach (Ingredient item in ViewBag.MissingIngredients)
                    {
                        // debug logic
                        if (ORM.UserIngredients.Where(x => x.IngredientID == item.Name) != null && ORM.UserIngredients.Where(x => x.UserID == user.ID) != null)
                        {
                            <div>@item.Name</div>
                        }
                    }
                </td>
                <td>@user.City</td>
                <td>@user.Email</td>
                <td>@user.PhoneNumber</td>
            </tr>
        }
    }
</table>




<div id="map-1" style="width: 500px; height: 500px;"></div>

<script src="//maps.googleapis.com/maps/api/js?libraries=places,drawing&amp;key=" + ViewData["APIkey"]; type="text/javascript"></script>

<script type="text/javascript">
    var temp_map = new google.maps.Map(document.getElementById('map-1'), map_options);
</script>

<script type="text/javascript">
    var map_options = {
        zoom: 9,
        center: new google.maps.LatLng(42.3360501, -83.0499389),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        mapTypeControlOptions: {
            mapTypeIds: ['aerial', google.maps.MapTypeId.ROADMAP],
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
        },
        zoomControl: true
    };
    var my_map = null;
    var drawing_instance = {
        markers: [],
        initialize: function () {
            //Map Initialize
            my_map = new google.maps.Map(document.getElementById('map-1'), map_options);
            //Write Line for Marker with Coordinates
            this.create_marker(42.3360501, -83.0499389);
            this.create_marker(42.0163562, -83.60268499999999);
        },
        //To CREATE Simple Marker
        create_marker: function (_lat, _lng) {
            var myLatLng = { lat: _lat, lng: _lng };
            var marker_ = new google.maps.Marker({
                position: myLatLng,
                map: my_map
            });
        }
    };
    //This will Load the Map
    google.maps.event.addDomListener(window, 'load', function () {
        drawing_instance.initialize();
    });
</script>
