@using PantryParty.Models;
@using Microsoft.AspNet.Identity;
<link href="~/Content/styles.css" rel="stylesheet" />
<!-- Displays list of recipes with a maximized amount of user's ingredients-->
@if (ViewBag.RecipeInfo != null)
{
    <table>
        <tr>
            <th>Recipe Name</th>
            <th>Cook Time (in minutes)</th>
            <th>Picture</th>
            <th>Recipe URL</th>
        </tr>
        @foreach (Recipe recipe in ViewBag.RecipeInfo)
        {
            <tr>
                <td>@recipe.Title</td>
                <td>@recipe.CookTime</td>
                <td>@if (recipe.ImageURL != null)
                {
                    <img src="@recipe.ImageURL" />
                }
                else
                {
                    <p>No image from API</p>
                }
                </td>
                <td><a href="@recipe.RecipeURL">Link to recipe</a></td>
                <td>
                    <form action="/Home/CompareMissingIngredients" method="post">
                        <input type="hidden" name="ToCompare" value="@recipe.ID" />
                        <input type="hidden" name="UserID" value="@User.Identity.GetUserId().ToString()" />
                        <input type="submit" value="I like this recipe" class="btn button"/>
                    </form>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h1>That input didn't match any recipes! Try again!</h1>
}

<style>
    img{
        height: 100px;
        width: 100px;
    }
</style>

<!-- Display link using user's address to nearby grocery stores-->