@using PantryParty.Models
@using Microsoft.AspNet.Identity;

<br /><br />
@*<form action="/Home/SaveItemChanges" method="get">
    Item: <input type="text" name="Name" value="@ViewBag.ItemToBeUpdated.Name" /><br /><br />*@

<form action="/Home/SaveItemChanges" method="get">
    Name: <input type="text" name="Name " disabled value="@ViewBag.UpdateProf.FirstName" /><br /><br />

        <input type="hidden" name="Item" value="@ViewBag.UpdateProf.LastName" /><br /><br />
         Street Address: <input type="text" name="Description" value="@ViewBag.UpdateProf.Address" /><br /><br />
          City: <input type="text" name="Quantity" value="@ViewBag.UpdateProf.City" /><br /><br />
          State: <input type="text" name="Price" value="@ViewBag.UpdateProf.State" /><br /><br />
          Zip Code: <input type="number" name="Price" value="@ViewBag.UpdateProf.Zipcode" /><br /><br />

        <input type="submit" value="Save Changes" />

</form>
